body {
  font: 14px "Century Gothic", Futura, sans-serif;
  padding: 0;
  margin: 0;
}

ol,
ul {
  padding-left: 65px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: aquamarine;
  border: 1px solid blueviolet;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.square:focus {
  outline: none;
  color: blueviolet;
}

.kbd-navigation .square:focus {
  background: blueviolet;
}

.game {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
  color: blueviolet;
  font-size: 18px;
  font-weight: 700;
  max-height: 210px;
  overflow-y: auto;
}

.game-info ol li {
  color: blueviolet;
  font-size: 18px;
  font-weight: 700;
}

.game-info ol li button {
  padding: 10px 15px;
  border: 2px solid blueviolet;
  background: aquamarine;
  color: blueviolet;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.game-info ol li button:hover {
  background: blueviolet;
  color: aquamarine;
}